body.dark {
	/* Main Theme */
	--bg-main: hsl(240, 8%, 10%);
	--bg-app: rgba(26, 26, 30, 100%);

	--txt-1: hsl(240, 9%, 90%);
	--txt-2: hsl(240, 7%, 70%);
	--txt-3: hsl(240, 5%, 25%);

	--logo-path: var(--txt-1);
	--socials-path: var(--txt-3);
	--socials-hover-path: #6562fc;

	--email: var(--txt-2);
	--email-hover: #6562fc;

	/* Projects Scroller */
	--project-txt: hsl(240, 4%, 56%);
	--project-bg: none;
	--project-hover-txt: hsl(246, 4%, 84%);
	--project-hover-bg: none;
	--project-active-txt: hsl(246, 4%, 94%);
	--project-active-bg: hsl(240, 7%, 14%);

	/* Projects Tooltip */
	--tooltip-bg: hsl(240, 6%, 17%);
	--tooltip-header: var(--txt-1);
	--tooltip-paragraph: #c3c2ca;
	--tooltip-footer-bg: hsl(240, 5%, 15%);

	--tooltip-actions-path: #4e4e4e;
	--tooltip-actions-hover-path: #fff;
	--tooltip-close-path: #4e4e4e;
	--tooltip-close-bg: none;
	--tooltip-close-hover-path: #ddd;
	--tooltip-close-hover-bg: #2e2e2e;
}
