header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 22px;
	z-index: 100;

	& .logo {
		margin-left: -5px;
		& path {
			fill: var(--logo-path);
		}
	}
}

header nav {
	display: flex;
	align-items: center;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	padding: 28px 10px;
	margin-right: -10px;
	color: var(--email);
	transition: color 120ms ease-out;

	&:hover {
		color: var(--email-hover);
	}
}
