@import "./reset";
@import "./utils";
@import "./themes";
@import "./typography";

body {
	background: var(--bg-body);
	padding: 5px;

	@media screen and (min-width: 550px) {
		padding: clamp(4px, 3vw, 180px);
	}
}

button,
a {
	border-radius: 8px;

	&.focus-visible:focus {
		outline: 3px solid var(--focus-marker);
	}
}

#app {
	position: relative;
	display: grid;
	grid-template-rows: 75px 1fr auto 25px;
	background: var(--bg-app);

	height: 100%;
	min-height: 500px;
	max-height: 1000px;
	width: 100%;
	max-width: 1860px;

	& main {
		display: flex;
		align-items: center;

		& article {
			margin-left: clamp(0px, 6vw, 450px);
			padding: 50px 0;
			& p {
				color: var(--txt-3);
			}
		}
	}

	& canvas.animated-grid {
		position: absolute;
		height: 100%;
		width: 100%;
		inset: 0;
		z-index: 190;
		pointer-events: none;
	}
}

header.grid-cell {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 22px;
	z-index: 100;

	& .logo {
		margin-left: -5px;
		& path {
			fill: var(--header-logo);
		}
	}

	& nav {
		display: flex;
		align-items: center;
		& ul li {
			display: inline-block;
			& a {
				padding: 18px 10px;
				margin-right: -10px;
				color: var(--header-email);
				transition: color 120ms ease-out;

				@media (hover: hover) and (pointer: fine) {
					&:hover {
						color: var(--header-email-hover);
					}
				}
			}
		}
	}
}

/* Main Project Scroller */
.projects-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
	z-index: 150;

	& .projects {
		position: absolute;
		display: flex;
		align-items: center;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		height: 100%;
		width: 100%;

		& .sub-container {
			display: flex;
			align-items: center;

			& .project-anchor {
				position: relative;
				padding: 11px 20px;
				border-radius: 100px;
				transition: all 140ms ease-out;
				color: var(--scroller-project);

				&:not(.active) {
					cursor: pointer;
				}

				&.active {
					color: var(--scroller-project-active);
					background: var(--scroller-project-active-bg);
				}

				@media (hover: hover) and (pointer: fine) {
					&:not(.active):hover {
						color: var(--scroller-project-hover);
					}
				}
			}
		}
	}
}

footer.grid-cell {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.6rem;
	color: var(--footer-txt);
}
