.h1 {
	font-size: clamp(90px, 8.8vw, 130px);
	line-height: 1em;
	margin: 0.05em 0 0.15em -8px;
	box-sizing: border-box;
	padding-right: 50px;
}

.h2 {
	font-size: clamp(24px, 1.65vw, 40px);
}

header.grid-cell a {
	font-size: clamp(14px, 1.5vw, 16px);
}

.h1 span {
	font-weight: 400;
}

p {
	font-size: clamp(18px, 1.7vw, 22px);
	line-height: 1.6em;
	&.intro {
		font-size: clamp(17px, 1.7vw, 22px);
		width: 80%;
		max-width: 450px;
	}
}

h3 {
	font-size: clamp(17px, 3vw, 20px);
}

.project-anchor {
	font-size: clamp(13px, 1.4vw, 16px);
	margin: 0 clamp(0px, 3vw, 6px);
}
