header {
	display: flex;
	justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo {
    padding: 0 10px;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    padding: 30px 7px;
}