.projects-container {
	position: relative;
	height: 60px;
	width: 100%;
	z-index: 150;

	& .projects-cover {
		position: absolute;
		pointer-events: none;
		height: 100%;
		top: 0;
		width: 100%;
		z-index: 1;

		& div {
			position: absolute;
			height: 100%;
			width: 100px;
			/* background: linear-gradient(
				90deg,
				var(--bg-app) 0%,
				rgba(255, 255, 255, 0) 100%
			); */
			background: -webkit-linear-gradient(
				to right,
				rgba(245, 245, 245, 0.8),
				#f5f5f5 65%
			);
			background: linear-gradient(
				to right,
				var(--bg-app),
				rgba(255, 255, 255, 0) 100%
			);

			&.right-cover {
				right: 0;
				background: linear-gradient(
					-90deg,
					var(--bg-app) 0%,
					rgba(255, 255, 255, 0) 100%
				);
			}
		}
	}

	& .focus-catch {
		position: absolute;
		height: 0;
		width: 0;
		overflow: hidden;
		opacity: 0;
	}

	& .projects {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		overflow-x: scroll;
		overflow-y: hidden;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		& .sub-container {
			display: flex;
			align-items: center;
		}

		& .project-anchor {
			position: relative;
			padding: 11px 15px;
			box-sizing: border-box;
			border-radius: 100px;
			color: var(--project-txt);
			background: var(--project-bg);
			white-space: nowrap;
			transition: all 140ms ease-out;
			cursor: pointer;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			&.active {
				color: var(--project-active-txt);
				background: var(--project-active-bg);
			}

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					color: var(--project-hover-txt);
					background: var(--project-hover-bg);
				}
			}
		}
	}
}

.project-tooltip {
	position: fixed;
	display: none;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 480px;
	border-radius: 10px;
	background: var(--tooltip-bg);
	transform-origin: bottom center;
	z-index: 200;
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.05);

	--vertical-padding: 22px;
	--footer-height: 54px;

	& header {
		color: var(--tooltip-header);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px var(--vertical-padding);

		& .keyboard-actions {
			display: flex;
			align-items: center;

			& button {
				padding: 5px;
				cursor: pointer;

				& svg path {
					fill: var(--tooltip-actions-path);
					transition: fill 120ms ease-out;
				}

				&:hover path,
				&:focus path {
					fill: var(--tooltip-actions-hover-path);
				}
			}

			& .escape {
				transform: translateX(0.5px);
			}
		}

		& button.touch-close {
			box-sizing: border-box;
			padding: 12px;
			display: none;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background: var(--tooltip-close-bg);
			transition: background 120ms ease-out;

			& svg path {
				stroke: var(--tooltip-close-path);
				transition: stroke 120ms ease-out;
			}

			&:hover,
			&:focus {
				background: var(--tooltip-close-hover-bg);

				& svg path {
					stroke: var(--tooltip-close-hover-path);
				}
			}
		}
	}

	& p {
		color: var(--tooltip-paragraph);
		letter-spacing: 0.02em;
		margin-bottom: var(--footer-height);
		padding: 0 var(--vertical-padding) 25px var(--vertical-padding);
	}

	& footer {
		position: absolute;
		box-sizing: border-box;
		padding: 0 var(--vertical-padding);
		height: var(--footer-height);
		width: 100%;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: inherit;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background: var(--tooltip-footer-bg);
		z-index: 1;

		& .stack {
			display: flex;
			align-items: center;

			& img {
				height: 16px;
				margin-right: 5px;
				display: none;
			}
		}

		& nav {
			display: flex;
			align-items: center;
		}

		& a {
			color: #7a7983;
			font-size: 14px;
			padding: 6px 12px;
			transition: color 120ms ease-out;

			&.preview {
				background: #6462fc;
				color: #e0dffb;
				border-radius: 6px;
				margin-left: 5px;
			}

			& svg {
				margin-right: 2px;
				& polygon {
					fill: #e0dffb;
					transition: fill 120ms ease-out;
				}
			}

			&:hover {
				outline: none;
				color: inherit;
			}
		}
	}

	& .triangle-down {
		position: absolute;
		width: 0;
		height: 0;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-top: 20px solid var(--tooltip-footer-bg);
	}
}
