/* Project Tooltip */
#projectDialog {
	display: none;
	position: absolute;
	width: 85%;
	max-width: 580px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	transform-origin: bottom center;
	background: var(--tooltip-bg);
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.05);
	z-index: 200;

	--vertical-padding: 30px;
	--footer-height: 51px;

	& header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 32px var(--vertical-padding);
		color: var(--tooltip-header);

		& h3:focus {
			outline: none;
		}

		/* Stack */
		& ul {
			display: flex;
			align-items: center;
			gap: 6px;
			margin: 0;
			right: 0;
			& img {
				height: 20px;
				width: 20px;
			}
		}
	}

	& p {
		position: relative;
		color: var(--tooltip-body);
		margin-bottom: calc(var(--footer-height) * 1.05);
		padding: 0 var(--vertical-padding) 40px var(--vertical-padding);
	}

	& footer {
		position: absolute;
		padding: 10px;
		height: var(--footer-height);
		width: 100%;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: inherit;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: 1px solid var(--tooltip-footer-border);
		background: var(--tooltip-footer-bg);
		z-index: 1;

		/* Actions */
		& nav.controls {
			& button {
				margin-right: 2px;
				height: 36px;
				width: 40px;
				border-radius: 8px;
				display: flex;
				justify-content: center;
				align-items: center;

				& img {
					transition: all 140ms ease-out;
				}

				& span {
					position: absolute;
					font-size: 0.85rem;
					font-weight: 600;
					color: hsl(240, 13%, 22%);
					transform: translateY(12px);
					opacity: 0;
					transition: all 140ms ease-out;
				}

				&:focus {
					outline-width: 3px;
					& span {
						opacity: 1;
						transform: translateY(6px);
					}
					& img {
						transform: translateY(-6px) scale(0.65);
					}
				}
			}
		}

		& nav {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;

			& a {
				color: var(--tooltip-source);
				font-size: 14px;
				padding: 6px 12px;
				transition: color 120ms ease-out;
				overflow: hidden;

				border-radius: 4px;

				&.preview {
					background: var(--tooltip-preview-bg);
					color: var(--tooltip-preview);
					border-radius: 6px 6px 6px 6px;
					margin-left: 8px;
					padding: clamp(3px, 3vw, 8px) clamp(7px, 3vw, 12px);

					& svg {
						margin-right: 2px;
						& polygon {
							fill: var(--tooltip-preview-icon);
							transition: fill 120ms ease-out;
						}
					}
				}
			}
		}
	}

	& .triangle-down {
		position: absolute;
		width: 0;
		height: 0;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-top: 20px solid var(--tooltip-footer-bg);
	}
}
